// HEADER
// --------------
header {
	position: fixed;
	width: 300px;
	background: $black;
	height: 100vh;
	@extend %fx;
	@extend %fx--col;
	@extend %fx--nowrap;
}

.logo {
	padding: 20px 20px 40px;
	color: $white;
	text-align: center;
	background: $blue;
	&-img-1 {
		width: 100px;
	}
	&-img-2 {
		width: 150px;
		display: block;
		margin: 0 auto;
	}
	span {
		display: block;
		font-size: 1.2em;
		opacity: .5;
	}
}

nav {
	padding: 40px 20px;
	background: $blue-dark;
	img {
		width: 32px;
		height: 32px;
		margin-right: 5px;
	}
	a {
		color: $white;
		text-decoration: none;
		padding: 5px 0;
	}
}

.contact {
	flex: 1 0 auto;
	background: $black;
	color: $white;
	a {
		text-decoration: none;
		color: $white;
	}
	&__title {
		text-align: center;
		padding: 20px 0;
		font-size: 1.3em;
		font-weight: 700;
	}
	&__details {
		background: lighten($black, 5);
		padding: 40px 20px;
	}
	&__other {
		margin-top: 20px;
		img {
			width: 40px;
			height: 40px;
			margin: 5px 10px;
		}
	}
}

.phone {
	font-size: 1.75em;
	img {
		width: 32px;
		height: 32px;
		margin-right: 5px;
	}
	span {
		font-size: .75em;
	}
}

.header__footer {
	padding: 10px 20px;
	img {
		width: 40px;
		margin: 5px;
	}
}